*, *::before, *::after {
    box-sizing: border-box
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 10rem;
    align-items: center;
    background-color: #46444F;

    &__title {
        color: white;
        font-size: 28px;
        font-family: 'JockeyOne';
        padding-left: 52px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &__logo {
        padding-right: 30px;
        cursor: pointer;
    }
}

.body {
    padding: 55px 0 44px 0;
    background-color: #F37843;
    display: grid;
    justify-content: center;
    grid-template-areas: 'body__episode1 body__episode2'
                         ;
                         gap: 75px 451px;
    font-family: 'Inter';
    font-weight: bold;
    color: black;

    > div {
        cursor: pointer;
    }

    img {
        width: 300px;
        height: 170px;
        border-radius: 6px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    font-family: 'Inter';

    &__title {
        font-size: 28px;
    }
    &__name {
        padding-top: 11px;
        margin: 0;
    }
    &__text {
        font-size: 20px;
    }
    &__createdby {
        padding-left: 26px;
        padding-top: 30px;
        min-height: 13.06rem;
    }
    &__contacts {
        min-height: 13.06rem;
        padding-right: 23px;
        padding-bottom: 16px;
        display: grid;
        align-items: end;

        a {
            color: black;
        }
        &__email {
            margin-top: 7px;
        }
        &__wa {
            margin-top: 7px;
        }
    }
}