*, *::before, *::after {
    box-sizing: border-box
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 10rem;
    align-items: center;
    background-color: #46444F;

    &__title {
        color: white;
        font-size: 28px;
        font-family: 'JockeyOne';
    }

    &__logo {
        
    }
}

.body {
    padding: 55px 0 44px 0;
    background-color: #F37843;
    display: grid;
    justify-content: center;
    grid-template-areas: 'body__episode1 body__episode2'
                         'body__episode1 body__episode2'
                         'body__episode1 body__episode2';
                         gap: 75px 451px;
    font-family: 'Inter';
    font-weight: bold;
    color: black;

    > div {
        cursor: pointer;
    }

    img {
        width: 300px;
        height: 170px;
        border-radius: 6px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 19.2px 16px;
    background-color: #D9D9D9;
    font-family: 'Inter';

    &__title {
        font-size: 28px;
    }

    &__text {
        font-size: 20px;
    }
    
    &__createdby {
        min-height: 10rem;
    }

    &__contacts {
        min-height: 10rem;
        display: grid;
        align-items: end;

        a {
            color: black;
        }

        .email {
            margin-top: 8px;
        }
        
        .wa {
            margin-top: 6.4px;
        }
    }
}